.short-paragraph{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.short-paragraph-medium{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.post-content .sermons-meta-data p {
    margin-right: 30px;
    font-size: 14px;
    text-align: center;
}


iframe {
    width: 1100px;
    height: 500px;
    border: 1px black solid;
}

.unplugged{
    width: 1200px;
    height: 300px;
}

.broadcast-message{
    font-size: 30px;
    font-weight: bold;
}


@media (max-width: 319px)  {
    .gadh-screen{
        width:100px;
        height : 20px;
        
    }
    .sermons-details-area{
        padding-top: 10px;
        padding-bottom: 20px;
    }
  }
  @media  (max-width:480px){
    iframe{
        width: unset;
        height: unset;
    }
    .gadh-screen{
        width:100% ;
        height : 120% ;
        max-height: 200px ;
        
    }
    .sermons-details-area{
        padding-top: 10px;
        padding-bottom: 20px;
    }
  }

  @media (max-width:768px){
    .gadh-screen{
        width:100% ;
        height : 100% ;
        
    }
    .sermons-details-area{
        padding-top: 10px;
        padding-bottom: 20px;
    }
  }
/* @media (max-width: 480px)  {
    
  } */
  /* @media (max-width: 768px) {
    .gadh-screen{
        width:50%;
        height : 100%;
        
    }
    .sermons-details-area{
        padding-top: 10px;
        padding-bottom: 20px;
    }
  }*/
  @media (max-width: 1024px) {
    .gadh-screen{
        width: 100% ;
        height : 400px;
        
    }
    .sermons-details-area{
        padding-top: 10px;
        padding-bottom: 20px;
    }
  } 













