#car i.fa.fa-angle-left {
    font-size: 100px;
    color: #c5c5c5;


}
#car i.fa.fa-angle-right {
    font-size: 100px;
    color: #c5c5c5;
}


#car .owl-prev {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    
}

#car .owl-next{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}




.owl-dots {
    display: flex;
    justify-content: center;
    

padding-top: 15px;
}
.owl-dots .owl-dot button {
width: 15px;
height: 15px;
border-radius: 50%;

background: #ccc;
margin: 0 3px;
}
.owl-dots .owl-dot.active button {
background-color: #000;
}
.owl-dots button.owl-dot:focus {
outline: none;
}